.greenIcon {
  color: green;
}

/*css for side bar */
.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0 {
  color: rgb(255, 105, 180);
}

body {
  overflow: hidden;
}

#content {
  overflow: hidden;
}

/*Fix the side nav */
#side {
  position: fixed;
  z-index: 2;
}

#top {
  z-index: 1;
}

#root {
  height: 100%;
  margin: 0em;
  overflow-x: hidden;
  overflow-y: scroll !important;
}

#titlebar {
  -webkit-app-region: drag;
  z-index: 4;
  height: 25px;
}

#navbrand {
  position: relative;
  bottom: 15px;
}

#titlebar-btns {
  -webkit-app-region: no-drag;
  position: relative;
  float: right;
  left: 20px;
  bottom: 15px;
  padding: 5px;
}
.title-btn {
}

.win-btn {
  cursor: default;
  display: inline-block !important;
  vertical-align: middle !important;
  text-align: center;
  height: 25px;
  width: 45px;
  background-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.win-btn:hover {
  background-color: teal;
  color: white;
}

#min-btn {
}
#max-btn {
}
#close-btn:hover {
  background-color: red !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
