body {
    background-color: #112121
}

h1 {
    width: auto;
    height: auto;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: calc(3rem*1.5);
    text-align: center;
    margin: 25px 0;
    border: none;
    padding: 25px
}

.letter,
.text-wrapper {
    display: inline-block
}

.font-crafty-girls {
    font-family: 'Crafty Girls', cursive
}

.neon-83ff00 {
    cursor: pointer;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 3em #83ff00, 0 0 2em #83ff00, 1px 1px 5px #83ff00, 0 0 15px #83ff00, 1px 0 0 #fff, -1px 0 2px rgba(0, 0, 0, .5)
}

.neon-83ff00:hover {
    color: #83ff00;
    text-shadow: 0 0 5em #83ff00, 0 0 3em #83ff00, 0 0 2em #83ff00, 1px 1px 5px #83ff00, 0 0 10px #83ff00, 0 0 25px #83ff00, 0 0 45px #83ff00, 2px 1px 0 #fff, -1px 0 2px rgba(0, 0, 0, .5)
}

.faqHeader {
    font-size: 27px;
    margin: 20px
}

.panel-heading [data-toggle=collapse]:after {
    font-family: FontAwesome;
    content: "\f063";
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px
}

.panel-heading [data-toggle=collapse].collapsed:after {
    color: #454444
}