<link rel="stylesheet" href="assets/css/analysis.css">
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Biometrics</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Your Target <br> Heart Rate</div>
                        <div class="help-tip">
                            <p>This is target heart rate to acheive vigorous exercise.  It is 70 - 85 %
                                of your maximum heart rate.</p>
                        </div>
                        <div class="card-body">
                            <div class="card-text" id="TargetHR"></div>
                        </div>
                    </div>         
                    <div class="card">
                        <div class="card-header">Your Maximum <br> Heart Rate</div>
                        <div class="help-tip">
                            <p>This is your maximum heart rate.  It is based on your age.</p>
                        </div>
                        <div class="card-body">
                            <div class="card-text" id="MaxHR"></div>
                        </div>
                    </div>         
                    <div class="card">
                        <div class="card-header">Your Heart <br> Rate Reserve</div>
                        <div class="help-tip">
                            <p>Your heart rate reserve measures the difference between your maximum heart rate and your 
                                resting heart rate. The higher this number is, the better!
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text" id="HRR"></div>
                        </div>
                    </div>         
                </div>   
                <div class="col-md-4">
                    <div class="card">                     
                        <div class="card-header">Zones</div>
                        <div class="help-tip">
                            <p>These are your exercise heart rate zones. <br> Each row indicates a heart rate and its <br> percentage 
                                of your maximum heart rate. <br> Vigorous exercise is 70-85%</p>
                        </div>
                        <div class="card-body">
                            <table class="table dataTable my-0" id="zonesTable">
                                <thead>
                                    <tr>
                                        <th>Percentage</th>
                                        <th>Target Heart Rate</th>
                                    </tr>
                                </thead>
                                <tbody id="zonesBody"> 
                                
                                </tbody>
                            </table>
                        </div>
                    </div>         
                </div>  
                <div class="col-md-4">
                    <div class="imageCards">
                    <div class="card border-0" id="biking">
                        <i class='fas fa-biking' style='font-size:48px'></i>
                    </div>
                    <div class="card border-0" id="running">
                        <i class='fas fa-running' style='font-size:48px'></i>
                    </div>
                    <div class="card border-0" id="hiking">
                        <i class='fas fa-hiking' style='font-size:48px'></i>
                    </div>
                    <div class="card border-0" id="heartbeat">
                        <i class='fas fa-heartbeat' style='font-size:48px'></i>
                    </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
    <script>analysisPage.bioInit()</script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</div>
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Analysis</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <select id="type">
                        <option value="exPercentage">Exercise Efficiency</option>
                        <option value="restRates">Resting Rate Trends</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <button type="button" id="loadChart">Load</button>
                </div>
            </div>
        </div>
        <div>
            <canvas id="testChart"></canvas>
        </div>
    </div>
    <script>analysisPage.init()</script>
</div>
